/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2016, 11:58:09 PM
    Author     : pauloaraujo
*/

.background {
    -fx-background-color: #ffffff;
}

/* button */
.button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #0082C0;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: rgb(0,149,203);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #0071A6;
}

/* text field */
.text-field {
    -fx-font-size: 11pt;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI Semibold";
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* texts */
.h1 {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}
.h2 {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
}
.h3{
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
}
.h4{
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
}
.h5{
    -fx-font-size: 8.5pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: #5e5e5e;
}
.h6{
    -fx-font-size: 8.5pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-fill: white;
}


/* tables */
.table-view {
    -fx-base: #0082C0;
    -fx-control-inner-background: white;
    /*-fx-background-color: #1d1d1d;*/
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

/* The main scrollbar CSS class of ListView */
.table-view .scroll-bar:horizontal ,
.table-view  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .column-header .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-alignment: center;
}

.progress-indicator .indicator {
    -fx-background-color: white;
    -fx-border-color: darkgray;
    -fx-background-insets: 1 0 -1 0, 0, 1, 2;
    -fx-padding: 0.083333em; /* 1 */
}

.disc-done { 
  -fx-background-color: #0082C0; 
} 

.disc-undone { 
  -fx-background-color: lightgray; 
} 